{% extends "booking/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" id="id_map_div">
    </div>
{% endblock content %}
{% block sidebar %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            Select your desired desk and date.
            <hr>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Book</button>
        </div>
    </form>
</div>
{{ form.media }}
{% endblock sidebar %}
